* {
    box-sizing: border-box;
    margin: 0;
    margin-block: 0;
    padding: 0;
}

body {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    height: 100vh;
    justify-content: space-between;
    padding: 4rem;
}

h1 {
    font-size: 3rem;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}

button {
    background-color: #e0e0e0;
    border: 2px solid #888;
    font-size: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    width: 15rem;
}

.randomize-color-on {
    background-color: red;
}

.randomize-color-off {
    background-color: green;
}

.canvas {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    /* outline: auto; */
}

.cell {
    border: 1px solid gray;
}


