* {
    box-sizing: border-box;
    margin: 0;
    margin-block: 0;
    padding: 0;
}

body {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    height: 100vh;
    justify-content: space-between;
    padding: 4rem;
}

h1 {
    font-size: 3rem;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}

button, .container-opacity {
    background-color: #e0e0e0;
    border: 2px solid #888;
    font-size: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 10rem;
}

.randomize-color-on {
    background-color: #F09494;
    border: 2px solid red;
}

.randomize-color-off {
    background-color: #AAE2A8;
    border: 2px solid green;    
}

.container-opacity {
    align-items: center;
    display: flex;
    flex-direction: column;
}

input {
    display: block;
    width: 6rem;
}

.canvas {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.cell {
    border: 1px solid gray;
}


