* {
    box-sizing: border-box;
    margin: 0;
    margin-block: 0;
    padding: 0;
}

body {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    height: 100vh;
    justify-content: space-between;
    padding: 6rem;
}

h1 {
    font-size: 3rem;
}

.canvas {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    height: 720px;
    width: 720px;
}

.row {
    display: flex;
    /* outline: auto; */
}

.cell {
    border: 1px solid gray;
}


